html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

.wrapper {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto;
}

h1 {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: clamp(1.1rem, 4vw, 2.3rem);
}

h2 {
  font-family: "Playfair Display", serif;
  font-weight: normal;
  font-size: clamp(1.5rem, 4vw, 2rem);
}

.strongName {
  font-size: clamp(1.5rem, 4vw, 2.7rem);
}

#about, #portfolio, #contact {
  text-align: center;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../../fonts/PlayfairDisplay-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Playfair Display";
  src: url("../../fonts/PlayfairDisplay-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Inter";
  src: url("../../fonts/Inter-Regular.ttf");
  font-weight: normal;
}
.navBar a {
  font-size: clamp(0.9rem, 2vw, 1.1rem);
}

header {
  position: fixed;
  height: 90vh;
  width: 15%;
  border-right: 1px #A23B72 solid;
  font-family: "Playfair Display", serif;
}
header nav {
  height: 50vh;
}
header nav a {
  text-decoration: none;
  transition: 0.3s padding-left, 0.3s color;
  position: relative;
}
header nav a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -10px;
  width: 0px;
  height: 1px;
  background-color: #A23B72;
  transition: 0.3s width;
}
header nav a:hover, header nav a:focus {
  padding-left: 30px;
}
header nav a:hover::before, header nav a:focus::before {
  width: 30px;
}
header ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
}

.headerDark {
  background-color: #202020;
}
.headerDark a {
  color: #FFF;
}
.headerDark a::before {
  color: #FCB0D8;
}
.headerDark a:hover, .headerDark a:focus {
  color: #FCB0D8;
}

.headerLight {
  background-color: white;
}
.headerLight a {
  color: #202020;
}
.headerLight a:hover, .headerLight a:focus {
  color: #A23B72;
}

.skipLink {
  border: 2px red solid;
  position: absolute;
  top: 5px;
  left: -1000px;
}
.skipLink:focus {
  display: block;
  left: 0px;
}

.landingSection .wrapper {
  display: flex;
  flex-direction: column;
  margin: auto auto 0 !important;
  height: 100%;
}
.landingSection h1 {
  margin: auto 0 auto;
  color: #A23B72;
}
.landingSection .strongName {
  display: flex;
  font-family: "Playfair Display", serif;
  color: #202020;
  font-weight: bold;
}
.landingSection .greyText {
  color: #51586D;
}
.landingSection .landingText {
  border: 2px red solid;
  margin: auto;
}

.socialLinks {
  position: absolute;
  right: 0;
  top: 30%;
}
.socialLinks ul {
  list-style: none;
  padding: 0;
}
.socialLinks li {
  margin: 20px;
}
.socialLinks a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(162, 59, 114, 0.4);
  color: #FFF;
  transition: 0.3s background-color;
}
.socialLinks a:hover, .socialLinks a:focus {
  background-color: #a23b72;
}

.landingDark {
  background-color: #202020;
}
.landingDark h1 {
  color: #FFF;
}
.landingDark .strongName {
  color: #FCB0D8;
}
.landingDark .greyText {
  color: #FCB0D8;
}

.scrollIcon {
  border: 2px red solid;
  height: 20%;
  position: relative;
  width: 100%;
}
.scrollIcon .mouseImage {
  margin: 0 auto;
  border: 2px #202020 solid;
  width: 40px;
  height: 60px;
  border-radius: 40px;
}

main {
  width: 85%;
  margin-left: auto;
}

section {
  height: 100vh;
  border: 2px red solid;
}

footer {
  position: fixed;
  bottom: 0;
  height: 10vh;
  width: 15%;
  border-right: 1px #A23B72 solid;
  background-color: #FFF;
  text-align: center;
  font-family: "Playfair Display", serif;
}
footer a {
  color: #FCB0D8;
  text-decoration: none;
  transition: 0.3s color;
}
footer a:hover, footer a:focus {
  color: #A23B72;
}

h3 {
  color: #51586D;
  font-weight: normal;
  font-size: clamp(0.6rem, 2vw, 0.8rem);
}

.footerDark {
  background-color: #202020;
  color: #FFF;
}
.footerDark h3 {
  color: #FFF;
}

.footerLight {
  background-color: #FFF;
  color: #202020;
}
.footerLight a {
  color: rgb(194, 96, 148);
  text-decoration: none;
  transition: 0.3s color;
}
.footerLight a:hover, .footerLight a:focus {
  color: #A23B72;
}/*# sourceMappingURL=styles.css.map */