@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap");
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@-webkit-keyframes scrollDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  60% {
    transform: translateY(0);
  }
  90% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes scrollDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  60% {
    transform: translateY(0);
  }
  90% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes projectHover {
  from {
    transform: translateY(1000px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes projectHover {
  from {
    transform: translateY(1000px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes projectHoverText {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes projectHoverText {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
html {
  font-size: 125%;
}

.wrapper {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto;
}

h1 {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: clamp(1.1rem, 4vw, 2.3rem);
}

h2 {
  font-family: "Playfair Display", serif;
  font-weight: normal;
  font-size: clamp(1.5rem, 4vw, 2rem);
}

.projectText h3 {
  color: #202020;
  font-family: "Playfair Display", serif;
  font-weight: normal;
  padding: 20px;
}

p {
  line-height: 1.6rem;
  font-size: clamp(0.6rem, 4vw, 0.9rem);
}

.projectText p {
  color: #51586D;
  font-family: "Inter", sans-serif;
  padding: 20px;
}

.strongName {
  font-size: clamp(1.5rem, 4vw, 2.7rem);
}

section.darkTheme h2::after, section.darkTheme h2::before {
  color: #FCB0D8;
}

@font-face {
  font-family: "Playfair Display";
  src: url("../../fonts/PlayfairDisplay-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Playfair Display";
  src: url("../../fonts/PlayfairDisplay-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Inter";
  src: url("../../fonts/Inter-Regular.ttf");
  font-weight: normal;
}
.navBar a {
  font-size: clamp(0.9rem, 2vw, 1.1rem);
}

header {
  position: fixed;
  height: 85vh;
  width: 15%;
  border-right: 1px #A23B72 solid;
  font-family: "Playfair Display", serif;
}
header .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
header .logo {
  border: 2px #FFF solid;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 5px;
  margin: 0 auto;
  text-align: center;
}
header .logo a {
  font-size: clamp(1.2rem, 4vw, 1.5rem);
  text-decoration: none;
  transition: color 0.3s;
}
header nav {
  height: 50vh;
}
header nav a {
  text-decoration: none;
  transition: 0.3s padding-left, 0.3s color;
  position: relative;
}
header nav a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -10px;
  width: 0px;
  height: 1px;
  background-color: #A23B72;
  transition: 0.3s width;
}
header nav a:hover, header nav a:focus {
  padding-left: 30px;
}
header nav a:hover::before, header nav a:focus::before {
  width: 30px;
}
header .hamburger {
  display: none;
  justify-content: center;
  position: absolute;
  top: 2.5vh;
  right: 25px;
  width: 50px;
  height: 30px;
  cursor: pointer;
}
header .hamburger .lineOne, header .hamburger .lineTwo, header .hamburger .lineThree {
  content: "";
  position: absolute;
  width: 40px;
  height: 3px;
  background-color: #202020;
  border-radius: 20px;
  transition: background-color 0.3s, transform 0.3s;
}
header .hamburger .lineTwo {
  top: 12px;
}
header .hamburger .lineThree {
  top: 24px;
}
header .hamburger:hover .lineOne, header .hamburger:hover .lineTwo, header .hamburger:hover .lineThree, header .hamburger:focus .lineOne, header .hamburger:focus .lineTwo, header .hamburger:focus .lineThree {
  background-color: #A23B72;
}
header .hamburger.active .lineOne {
  transform: rotate(45deg);
  top: 12px;
}
header .hamburger.active .lineThree {
  transform: rotate(-45deg);
  top: 12px;
}
header .hamburger.active .lineTwo {
  transition: opacity 0.3s;
  opacity: 0;
}
header ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
  height: 100%;
}
header li {
  margin-bottom: 30px;
}

.headerDark {
  background-color: #202020;
  border-right: 1px #FCB0D8 solid;
}
.headerDark a {
  color: #FFF;
}
.headerDark a::before {
  color: #FCB0D8;
}
.headerDark a:hover, .headerDark a:focus {
  color: #FCB0D8;
}
.headerDark .hamburger .lineOne, .headerDark .hamburger .lineTwo, .headerDark .hamburger .lineThree {
  background-color: #FFF;
}
.headerDark .hamburger:hover .lineOne, .headerDark .hamburger:hover .lineTwo, .headerDark .hamburger:hover .lineThree, .headerDark .hamburger:focus .lineOne, .headerDark .hamburger:focus .lineTwo, .headerDark .hamburger:focus .lineThree {
  background-color: #FCB0D8;
}
.headerDark nav {
  background-color: #202020;
}

.headerLight {
  background-color: white;
}
.headerLight a {
  color: #202020;
}
.headerLight a:hover, .headerLight a:focus {
  color: #A23B72;
}

.skipLink {
  position: absolute;
  background-color: #FFF;
  top: 0;
  left: -1000px;
}
.skipLink:focus {
  display: block;
  left: 0px;
}

.themeContainer {
  background-color: #202020;
  border-radius: 30px;
  width: 100px;
  margin: 0 auto;
  height: 30px;
  display: flex;
  padding: 5px;
  position: relative;
}
.themeContainer .themeButton {
  background-color: orange;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  position: relative;
  overflow: hidden;
  transition: transform 0.5s;
  padding: 0;
  overflow: auto;
  cursor: pointer;
}
.themeContainer .themeButton::before {
  content: "";
  position: absolute;
  background-color: #FFF;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  left: -60%;
  top: 0;
  transform: scale(0);
}

.themeContainer.darkTheme {
  background-color: #FFF !important;
}
.themeContainer.darkTheme .themeButton {
  transform: translateX(70px);
}
.themeContainer.darkTheme .themeButton::before {
  left: -10px;
  transform: scale(1);
}

.landingSection .wrapper {
  display: flex;
  flex-direction: column;
  margin: auto auto 0 !important;
  height: 100%;
}
.landingSection h1 {
  margin: auto 0 auto;
  color: #A23B72;
}
.landingSection .strongName {
  display: flex;
  font-family: "Playfair Display", serif;
  color: #202020;
  font-weight: bold;
}
.landingSection .greyText {
  color: #51586D;
}
.landingSection .landingText {
  margin: auto;
}

.socialLinks {
  position: absolute;
  right: 0;
  top: 30%;
}
.socialLinks ul {
  list-style: none;
  padding: 0;
}
.socialLinks li {
  margin: 20px;
}
.socialLinks a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(162, 59, 114, 0.4);
  color: #FFF;
  transition: 0.3s background-color;
}
.socialLinks a:hover, .socialLinks a:focus {
  background-color: #a23b72;
}

.scrollIcon {
  height: 20%;
  position: relative;
  width: 100%;
}
.scrollIcon .mouseImage {
  margin: 0 auto;
  border: 2px #202020 solid;
  width: 40px;
  height: 60px;
  border-radius: 40px;
  position: relative;
}
.scrollIcon .mouseImage::after {
  content: "";
  position: absolute;
  right: 48%;
  top: 5px;
  width: 2px;
  height: 20px;
  background-color: #A23B72;
  border-radius: 20px;
  -webkit-animation: scrollDown 3s infinite;
          animation: scrollDown 3s infinite;
}
.scrollIcon .mouseImage::before {
  content: "";
  position: absolute;
  margin: 0 auto;
  top: 30px;
  left: -35%;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: rgba(162, 59, 114, 0.4);
}
.scrollIcon .mouseImageDark {
  border: 2px #FFF solid;
}
.scrollIcon .mouseImageDark::after {
  background-color: #FCB0D8;
}
.scrollIcon .mouseImageDark::before {
  background-color: rgba(252, 176, 216, 0.4);
}

main {
  width: 85%;
  margin-left: auto;
}

section {
  padding: 10px 0;
}

section h2 {
  position: relative;
}
section h2::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 30px;
  background-color: rgba(162, 59, 114, 0.5);
  bottom: 0;
  z-index: -1;
}
section:last-child {
  background-color: #202020 !important;
  color: #FFF;
}

.darkTheme {
  background-color: #202020;
  color: #FFF;
}
.darkTheme h1 {
  color: #FFF;
}
.darkTheme .strongName {
  color: #FCB0D8;
}
.darkTheme .greyText {
  color: #FCB0D8;
}

.darkTheme:nth-child(even) {
  background-color: rgba(32, 32, 32, 0.98);
}
.darkTheme .toolKitSection p {
  color: #FFF;
  text-align: center;
}
.darkTheme .toolKitSection .devicon {
  color: #FFF;
  text-align: center;
}
.darkTheme .toolKitSection li {
  background-color: transparent;
}

.landingSection {
  height: 100vh;
}

.aboutSection .wrapper {
  width: 100%;
  max-width: none;
  display: flex;
  flex-direction: column;
}

.aboutMeSection {
  flex-basis: 50%;
  width: 80%;
  margin: auto;
  padding: 40px;
}
.aboutMeSection h2::after {
  content: "Who are you?";
  font-family: "Caveat Brush", cursive;
  position: absolute;
  bottom: -20px;
  left: 0;
  font-size: 0.9rem;
  color: #51586D;
}
.aboutMeSection p {
  position: relative;
  font-family: "Inter", sans-serif;
}
.aboutMeSection p:nth-child(3):after {
  content: "(I notice it!)";
  font-size: 0.9rem;
  position: absolute;
  font-style: italic;
  color: #FCB0D8;
  font-family: "Caveat Brush", cursive;
}

.toolKitSection {
  flex-basis: 50%;
  width: 100%;
  background-color: #FAFAFA;
  margin: 0 auto;
}
.toolKitSection h2 {
  text-align: center;
}
.toolKitSection ul {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(5, 1fr);
  list-style: none;
  width: 90%;
  margin: 0 auto;
  padding: 0;
  justify-content: center;
  align-content: center;
}
.toolKitSection li {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 20px auto;
}
.toolKitSection p {
  font-family: "Inter", sans-serif;
  color: #202020;
  text-align: center;
}
.toolKitSection .devicon {
  color: rgba(32, 32, 32, 0.7);
  font-size: clamp(2rem, 10vw, 4rem);
  margin: 0 auto;
}

.portfolioSection h2::after {
  content: "(Click or hover to learn more!)";
  font-size: 0.9rem;
  font-family: "Caveat Brush", cursive;
  color: #51586D;
  position: absolute;
  bottom: -20px;
  left: 0;
}
.portfolioSection .projectList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 3rem;
  list-style: none;
  padding: 0;
}
.portfolioSection .projectLi {
  margin-bottom: 30px;
  border-radius: 20px;
  transition: transform 0.3s;
}
.portfolioSection .projectLi:hover, .portfolioSection .projectLi:focus {
  transform: scale(1.2);
}
.portfolioSection .projectLi:hover .projectInfo, .portfolioSection .projectLi:focus .projectInfo {
  -webkit-animation: projectHover 0.8s forwards;
          animation: projectHover 0.8s forwards;
}
.portfolioSection .projectLi:hover .projectInfo h3, .portfolioSection .projectLi:focus .projectInfo h3 {
  -webkit-animation: projectHoverText 1.2s forwards;
          animation: projectHoverText 1.2s forwards;
}
.portfolioSection .projectLi:hover .projectInfo > p, .portfolioSection .projectLi:focus .projectInfo > p {
  -webkit-animation: projectHoverText 1.2s forwards 0.1s;
          animation: projectHoverText 1.2s forwards 0.1s;
}
.portfolioSection .projectLi:hover .projectLinks, .portfolioSection .projectLi:focus .projectLinks {
  -webkit-animation: projectHoverText 1.2s forwards 0.2s;
          animation: projectHoverText 1.2s forwards 0.2s;
}
.portfolioSection .projectLi:hover .projectTools, .portfolioSection .projectLi:focus .projectTools {
  -webkit-animation: projectHoverText 1.2s forwards 0.3s;
          animation: projectHoverText 1.2s forwards 0.3s;
}

.portfolioSection.darkTheme {
  background-color: rgba(32, 32, 32, 0.98);
}

.projectContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 20px;
  height: 100%;
  overflow: hidden;
}
.projectContainer img {
  width: 100%;
  transition: transform 1s;
}
.projectContainer .projectImage {
  align-items: center;
  border-radius: 20px;
  height: 100%;
  overflow: hidden;
}
.projectContainer .projectInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  transform: translateY(500px);
  background-color: rgba(32, 32, 32, 0.8);
  width: 100%;
  height: 100%;
  border-radius: 20px;
  color: #FFF;
  padding: 20px;
}
.projectContainer .projectInfo h3 {
  font-size: clamp(0.5rem, 2vw, 1rem);
  font-family: "Playfair Display", serif;
  font-weight: normal;
  text-align: center;
  margin: 10px 0;
}
.projectContainer .projectInfo p {
  font-size: clamp(0.4rem, 2vw, 0.7rem);
  font-family: "Inter", sans-serif;
  text-align: center;
  margin: 0;
  line-height: 1rem;
}
.projectContainer .projectInfo ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between;
}
.projectContainer .projectInfo li {
  margin: 0 auto;
}
.projectContainer .projectInfo li p {
  color: #FFF;
}
.projectContainer .projectInfo .projectTools {
  opacity: 0;
}
.projectContainer .projectLinks {
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
  width: 100%;
  margin: 0 auto;
}
.projectContainer .projectLinks a {
  font-size: clamp(0.4rem, 2vw, 0.7rem);
  color: #FFF;
  padding: 5px 10px;
  text-decoration: none;
  transition: background-color 0.3s, border 0.3s;
  border: 2px solid #FFF;
}
.projectContainer .projectLinks a:hover, .projectContainer .projectLinks a:focus {
  background-color: #A23B72;
  border: 2px solid #A23B72;
}

.projectContainer.darkTheme .projectText {
  background-color: rgba(255, 255, 255, 0.15);
}
.projectContainer.darkTheme .projectText h3, .projectContainer.darkTheme .projectText p {
  color: #FFF;
}

.projectLi:nth-child(6n+1) {
  background-color: lightcoral;
}
.projectLi:nth-child(6n+2) {
  background-color: lightblue;
}
.projectLi:nth-child(6n+3) {
  background-color: mediumaquamarine;
}
.projectLi:nth-child(6n+4) {
  background-color: plum;
}
.projectLi:nth-child(6n+5) {
  background-color: palegoldenrod;
}
.projectLi:nth-child(6n+6) {
  background-color: lightsalmon;
}

.contactSection .wrapper {
  margin: 20px auto;
}
.contactSection h2::after {
  content: "How can I contact you?";
  font-size: 0.9rem;
  font-family: "Caveat Brush", cursive;
  position: absolute;
  bottom: -20px;
  left: 0px;
  color: #FCB0D8;
}
.contactSection .contactHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-basis: 70%;
  border-bottom: 1px #51586D solid;
}
.contactSection .contactSocial {
  flex-basis: 30%;
}
.contactSection .contactSocial ul {
  list-style: none;
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  padding: 0;
}
.contactSection .contactSocial a {
  color: #FFF;
  font-size: clamp(1.2rem, 2vw, 1.5rem);
  transition: color 0.3s;
}
.contactSection .contactSocial a:hover, .contactSection .contactSocial a:focus {
  color: #A23B72;
}
.contactSection .contactForm {
  display: flex;
  font-family: "Inter", sans-serif;
}
.contactSection .contactForm form {
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
}
.contactSection .contactForm fieldset {
  border: none;
  padding: 0;
}
.contactSection .contactForm ul {
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.contactSection .contactForm li {
  display: flex;
  flex-direction: column;
  width: calc(50% - 20px);
}
.contactSection .contactForm label {
  font-size: clamp(0.8rem, 2vw, 1rem);
  margin-top: 10px;
  margin-bottom: 20px;
}
.contactSection .contactForm input {
  background-color: transparent;
  border-radius: 5px;
  border: 1px rgba(255, 255, 255, 0.5) solid;
  padding: 10px;
  color: #FFF;
  font-family: "Inter", sans-serif;
}
.contactSection .contactForm input::-moz-placeholder {
  font-family: "Inter", sans-serif;
  font-size: clamp(0.8rem, 2vw, 0.9rem);
  color: rgba(255, 255, 255, 0.5);
}
.contactSection .contactForm input:-ms-input-placeholder {
  font-family: "Inter", sans-serif;
  font-size: clamp(0.8rem, 2vw, 0.9rem);
  color: rgba(255, 255, 255, 0.5);
}
.contactSection .contactForm input::placeholder {
  font-family: "Inter", sans-serif;
  font-size: clamp(0.8rem, 2vw, 0.9rem);
  color: rgba(255, 255, 255, 0.5);
}
.contactSection .contactForm textarea {
  resize: none;
  background-color: transparent;
  padding: 10px;
  border: 1px rgba(255, 255, 255, 0.5) solid;
  border-radius: 5px;
  color: #FFF;
}
.contactSection .contactForm textarea::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: clamp(0.8rem, 2vw, 0.9rem);
}
.contactSection .contactForm textarea:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: clamp(0.8rem, 2vw, 0.9rem);
}
.contactSection .contactForm textarea::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: clamp(0.8rem, 2vw, 0.9rem);
}
.contactSection .contactForm .submitButton {
  width: calc(50% - 20px);
  margin: 40px 0;
  background-color: #A23B72;
  color: #FFF;
  border: none;
  padding: 30px 20px;
  border-radius: 5px;
  font-family: "Inter", sans-serif;
  font-size: clamp(0.8rem, 2vw, 0.9rem);
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}
.contactSection .contactForm .submitButton:hover, .contactSection .contactForm .submitButton:focus {
  background-color: rgba(162, 59, 114, 0.7);
}
.contactSection .contactForm .contactInfo {
  padding: 0 20px;
  flex-basis: 40%;
}
.contactSection .contactForm .contactInfo p {
  font-size: clamp(0.8rem, 2vw, 0.9rem);
}
.contactSection .contactForm h3 {
  font-family: "Playfair Display", serif;
  font-weight: normal;
}

footer {
  position: fixed;
  bottom: 0;
  height: 15vh;
  width: 15%;
  border-right: 1px #A23B72 solid;
  text-align: center;
  font-family: "Playfair Display", serif;
}
footer a {
  color: #FCB0D8;
  text-decoration: none;
  transition: 0.3s color;
}
footer a:hover, footer a:focus {
  color: #A23B72;
}

footer h3 {
  color: #51586D;
  font-weight: normal;
  font-size: clamp(0.8rem, 2vw, 1rem);
}

.footerDark {
  background-color: #202020;
  border-right: 1px #FCB0D8 solid;
}
.footerDark h3 {
  color: #FFF;
}

.footerLight {
  background-color: #FFF;
  color: #202020;
}
.footerLight a {
  color: rgb(194, 96, 148);
  text-decoration: none;
  transition: 0.3s color;
}
.footerLight a:hover, .footerLight a:focus {
  color: #A23B72;
}

@media (max-width: 1300px) {
  .portfolioSection .projectList {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 810px) {
  header {
    height: 8vh;
    width: 100%;
    position: fixed;
    z-index: 99999;
    border-right: none;
  }
  header .wrapper {
    flex-direction: column;
    max-width: none;
    width: 100%;
  }
  header .hamburger {
    display: flex;
  }
  header nav {
    position: fixed;
    width: 100%;
    left: 0;
    top: 8vh;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    transform: scale(1, 0);
    transform-origin: top;
    background-color: #FFF;
    z-index: 99999999;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s ease-in-out;
  }
  header nav ul {
    width: 90%;
    margin: 0 auto;
    padding: 20px 0;
  }
  header nav a:hover, header nav a:focus {
    padding-left: 0;
  }
  header nav a:hover::before, header nav a:focus::before {
    content: none;
  }
  header nav.active {
    transform: scale(1, 1);
    opacity: 1;
    transition: opacity 0.3s, transform 0.3s ease-in-out 250ms;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
  }
  header .themeContainer {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    position: absolute;
    margin-left: 20px;
  }
  header .themeContainer .themeButton {
    content: none;
  }
  header .themeContainer.darkTheme .themeButton {
    transform: none;
    overflow: hidden;
  }
  main {
    width: 100%;
  }
  footer {
    position: static;
    width: 100%;
  }
  .footerLight {
    background-color: #202020 !important;
    padding: 1px;
    border-top: 1px #51586D solid;
  }
  .footerLight h3 {
    color: #FFF;
  }
  .footerDark {
    border-top: 1px #51586D solid;
    padding: 1px;
  }
}
@media (max-width: 780px) {
  .toolKitSection ul {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
  }
  .contactSection .contactForm {
    flex-direction: column-reverse;
  }
  .contactSection .contactForm .contactInfo {
    padding: 0;
  }
  .contactSection .contactForm .submitButton {
    margin: 40px auto;
  }
}
@media (max-width: 700px) {
  .contactSection .contactForm li {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .contactSection .contactHeader {
    flex-direction: column;
    align-items: flex-start;
  }
  .contactSection .contactSocial {
    width: 100%;
  }
  .contactSection .contactSocial ul {
    justify-content: space-between;
  }
  .portfolioSection .projectList {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .portfolioSection .projectLi:hover, .portfolioSection .projectLi:focus {
    transform: scale(1);
  }
  .projectContainer {
    width: 100%;
  }
  .projectContainer .projectInfo p, .projectContainer .projectInfo h3, .projectContainer .projectLinks a {
    font-size: 100%;
  }
}/*# sourceMappingURL=styles.css.map */