html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

* {
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@-webkit-keyframes scrollDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  60% {
    transform: translateY(0);
  }
  90% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes scrollDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  60% {
    transform: translateY(0);
  }
  90% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
@-webkit-keyframes projectHover {
  from {
    transform: translateY(1000px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes projectHover {
  from {
    transform: translateY(1000px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes projectHoverText {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes projectHoverText {
  from {
    transform: translateY(100px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
html {
  font-size: 125%;
}

.wrapper {
  max-width: 1280px;
  width: 80%;
  margin: 0 auto;
}

h1 {
  font-family: "Inter", sans-serif;
  font-weight: normal;
  font-size: clamp(1.1rem, 4vw, 2.3rem);
}

h2 {
  font-family: "Playfair Display", serif;
  font-weight: normal;
  font-size: clamp(1.5rem, 4vw, 2rem);
}

.projectText h3 {
  color: #202020;
  font-family: "Playfair Display", serif;
  font-weight: normal;
  padding: 20px;
}

p {
  line-height: 1.6rem;
  font-size: clamp(0.6rem, 4vw, 0.9rem);
}

.projectText p {
  color: #51586D;
  font-family: "Inter", sans-serif;
  padding: 20px;
}

.strongName {
  font-size: clamp(1.5rem, 4vw, 2.7rem);
}

@font-face {
  font-family: "Playfair Display";
  src: url("../../fonts/PlayfairDisplay-Regular.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "Playfair Display";
  src: url("../../fonts/PlayfairDisplay-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "Inter";
  src: url("../../fonts/Inter-Regular.ttf");
  font-weight: normal;
}
.navBar a {
  font-size: clamp(0.9rem, 2vw, 1.1rem);
}

header {
  position: fixed;
  height: 90vh;
  width: 15%;
  border-right: 1px #A23B72 solid;
  font-family: "Playfair Display", serif;
}
header .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
header .logo {
  text-align: center;
}
header .logo a {
  font-size: clamp(0.9rem, 4vw, 1.2rem);
  text-decoration: none;
}
header nav {
  height: 50vh;
}
header nav a {
  text-decoration: none;
  transition: 0.3s padding-left, 0.3s color;
  position: relative;
}
header nav a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -10px;
  width: 0px;
  height: 1px;
  background-color: #A23B72;
  transition: 0.3s width;
}
header nav a:hover, header nav a:focus {
  padding-left: 30px;
}
header nav a:hover::before, header nav a:focus::before {
  width: 30px;
}
header ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 100%;
  height: 100%;
}
header li {
  margin-bottom: 30px;
}

.headerDark {
  background-color: #202020;
}
.headerDark a {
  color: #FFF;
}
.headerDark a::before {
  color: #FCB0D8;
}
.headerDark a:hover, .headerDark a:focus {
  color: #FCB0D8;
}

.headerLight {
  background-color: white;
}
.headerLight a {
  color: #202020;
}
.headerLight a:hover, .headerLight a:focus {
  color: #A23B72;
}

.skipLink {
  border: 2px red solid;
  position: absolute;
  background-color: #FFF;
  top: 0;
  left: -1000px;
}
.skipLink:focus {
  display: block;
  left: 0px;
}

.themeContainer {
  background-color: #202020;
  border-radius: 30px;
  width: 100px;
  margin: 0 auto;
  height: 30px;
  display: flex;
  padding: 5px;
  position: relative;
}
.themeContainer .themeButton {
  background-color: orange;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: none;
  position: relative;
  overflow: hidden;
  transition: transform 0.5s;
  padding: 0;
  overflow: auto;
  cursor: pointer;
}
.themeContainer .themeButton::before {
  content: "";
  position: absolute;
  background-color: #FFF;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  left: -60%;
  top: 0;
  transform: scale(0);
}

.themeContainer.darkTheme {
  background-color: #FFF !important;
}
.themeContainer.darkTheme .themeButton {
  transform: translateX(70px);
}
.themeContainer.darkTheme .themeButton::before {
  left: -10px;
  transform: scale(1);
}

.landingSection .wrapper {
  display: flex;
  flex-direction: column;
  margin: auto auto 0 !important;
  height: 100%;
}
.landingSection h1 {
  margin: auto 0 auto;
  color: #A23B72;
}
.landingSection .strongName {
  display: flex;
  font-family: "Playfair Display", serif;
  color: #202020;
  font-weight: bold;
}
.landingSection .greyText {
  color: #51586D;
}
.landingSection .landingText {
  border: 2px red solid;
  margin: auto;
}

.socialLinks {
  position: absolute;
  right: 0;
  top: 30%;
}
.socialLinks ul {
  list-style: none;
  padding: 0;
}
.socialLinks li {
  margin: 20px;
}
.socialLinks a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(162, 59, 114, 0.4);
  color: #FFF;
  transition: 0.3s background-color;
}
.socialLinks a:hover, .socialLinks a:focus {
  background-color: #a23b72;
}

.scrollIcon {
  height: 20%;
  position: relative;
  width: 100%;
}
.scrollIcon .mouseImage {
  margin: 0 auto;
  border: 2px #202020 solid;
  width: 40px;
  height: 60px;
  border-radius: 40px;
  position: relative;
}
.scrollIcon .mouseImage::after {
  content: "";
  position: absolute;
  right: 48%;
  top: 5px;
  width: 2px;
  height: 20px;
  background-color: #A23B72;
  border-radius: 20px;
  -webkit-animation: scrollDown 3s infinite;
          animation: scrollDown 3s infinite;
}
.scrollIcon .mouseImageDark {
  border: 2px #FFF solid;
}
.scrollIcon .mouseImageDark::after {
  background-color: #FCB0D8;
}
.scrollIcon .circleBackground {
  margin: 0 auto;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  background-color: rgba(162, 59, 114, 0.4);
}
.scrollIcon .circleBackgroundDark {
  background-color: rgba(252, 176, 216, 0.5);
}

main {
  width: 85%;
  margin-left: auto;
}

section {
  padding: 10px 0;
}

section h2 {
  position: relative;
}
section h2::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 30px;
  background-color: rgba(162, 59, 114, 0.5);
  bottom: 0;
  z-index: -1;
}
section:last-child {
  background-color: #202020 !important;
  color: #FFF;
}

.darkTheme {
  background-color: #202020;
  color: #FFF;
}
.darkTheme h1 {
  color: #FFF;
}
.darkTheme .strongName {
  color: #FCB0D8;
}
.darkTheme .greyText {
  color: #FCB0D8;
}

.darkTheme:nth-child(even) {
  background-color: rgba(32, 32, 32, 0.98);
}
.darkTheme .toolKitSection p {
  color: #FFF;
  text-align: center;
}
.darkTheme .toolKitSection .devicon {
  color: #FFF;
  text-align: center;
}
.darkTheme .toolKitSection li {
  background-color: transparent;
}

.landingSection {
  height: 100vh;
}

.aboutSection .wrapper {
  width: 100%;
  max-width: none;
  display: flex;
  flex-direction: column;
}

.aboutMeSection {
  flex-basis: 50%;
  width: 80%;
  margin: auto;
}

.toolKitSection {
  flex-basis: 50%;
  width: 100%;
  background-color: #FAFAFA;
  margin: 0 auto;
}
.toolKitSection h2 {
  text-align: center;
}
.toolKitSection ul {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(5, 1fr);
  list-style: none;
  padding: 0;
  justify-content: center;
  align-content: center;
}
.toolKitSection li {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 150px;
  margin: 20px auto;
}
.toolKitSection p {
  font-family: "Inter", sans-serif;
  color: #202020;
  text-align: center;
}
.toolKitSection .devicon {
  color: rgba(32, 32, 32, 0.7);
  font-size: clamp(2rem, 10vw, 4rem);
  margin: 0 auto;
}

.portfolioSection .projectList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 3rem;
  list-style: none;
  padding: 0;
}
.portfolioSection li {
  margin-bottom: 30px;
  border-radius: 20px;
  transition: transform 0.3s;
}
.portfolioSection li:hover, .portfolioSection li:focus {
  transform: scale(1.2);
}
.portfolioSection li:hover .projectInfo, .portfolioSection li:focus .projectInfo {
  -webkit-animation: projectHover 1s forwards;
          animation: projectHover 1s forwards;
}
.portfolioSection li:hover .projectInfo h3, .portfolioSection li:focus .projectInfo h3 {
  -webkit-animation: projectHoverText 1s forwards;
          animation: projectHoverText 1s forwards;
}
.portfolioSection li:hover .projectInfo > p, .portfolioSection li:focus .projectInfo > p {
  -webkit-animation: projectHoverText 1s forwards 0.2s;
          animation: projectHoverText 1s forwards 0.2s;
}
.portfolioSection li:hover .projectLinks, .portfolioSection li:focus .projectLinks {
  -webkit-animation: projectHoverText 1s forwards 0.4s;
          animation: projectHoverText 1s forwards 0.4s;
}
.portfolioSection li:hover .projectTools, .portfolioSection li:focus .projectTools {
  -webkit-animation: projectHoverText 1s forwards 0.6s;
          animation: projectHoverText 1s forwards 0.6s;
}

.portfolioSection.darkTheme {
  background-color: rgba(32, 32, 32, 0.98);
}

.projectContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 20px;
  height: 100%;
  overflow: hidden;
}
.projectContainer img {
  width: 100%;
  transition: transform 1s;
}
.projectContainer .projectImage {
  align-items: center;
  border-radius: 20px;
  height: 100%;
  overflow: hidden;
}
.projectContainer .projectInfo {
  position: absolute;
  transform: translateY(500px);
  background-color: rgba(32, 32, 32, 0.8);
  width: 100%;
  height: 100%;
  border-radius: 20px;
  color: #FFF;
  padding: 20px;
}
.projectContainer .projectInfo h3 {
  font-size: clamp(0.5rem, 2vw, 1rem);
  font-family: "Playfair Display", serif;
  font-weight: normal;
  text-align: center;
  margin: 10px 0;
}
.projectContainer .projectInfo p {
  font-size: clamp(0.4rem, 2vw, 0.7rem);
  font-family: "Inter", sans-serif;
  text-align: center;
  margin: 0;
  line-height: 1rem;
}
.projectContainer .projectInfo ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between;
}
.projectContainer .projectInfo li {
  margin: 0 auto;
}
.projectContainer .projectInfo li p {
  color: #FFF;
}
.projectContainer .projectLinks {
  display: flex;
  justify-content: space-around;
  padding: 15px 0;
  width: 100%;
  margin: 0 auto;
}
.projectContainer .projectLinks a {
  font-size: clamp(0.4rem, 2vw, 0.7rem);
  color: #FFF;
  padding: 5px 10px;
  text-decoration: none;
  transition: background-color 0.3s, border 0.3s;
  border: 2px solid #FFF;
}
.projectContainer .projectLinks a:hover, .projectContainer .projectLinks a:focus {
  background-color: #A23B72;
  border: 2px solid #A23B72;
}

.projectContainer.darkTheme .projectText {
  background-color: rgba(255, 255, 255, 0.15);
}
.projectContainer.darkTheme .projectText h3, .projectContainer.darkTheme .projectText p {
  color: #FFF;
}

.projectContainer:nth-child(n) {
  background-color: lightcoral;
}
.projectContainer:nth-child(2n) {
  background-color: lightblue;
}
.projectContainer:nth-child(3n) {
  background-color: mediumaquamarine;
}
.projectContainer:nth-child(4n) {
  background-color: plum;
}
.projectContainer:nth-child(5n) {
  background-color: palegoldenrod;
}
.projectContainer:nth-child(6n) {
  background-color: lightsalmon;
}

footer {
  position: fixed;
  bottom: 0;
  height: 10vh;
  width: 15%;
  border-right: 1px #A23B72 solid;
  background-color: #FFF;
  text-align: center;
  font-family: "Playfair Display", serif;
}
footer a {
  color: #FCB0D8;
  text-decoration: none;
  transition: 0.3s color;
}
footer a:hover, footer a:focus {
  color: #A23B72;
}

footer h3 {
  color: #51586D;
  font-weight: normal;
  font-size: clamp(0.6rem, 2vw, 0.8rem);
  white-space: nowrap;
}

.footerDark {
  background-color: #202020;
  color: #FFF;
}
.footerDark h3 {
  color: #FFF;
}

.footerLight {
  background-color: #FFF;
  color: #202020;
}
.footerLight a {
  color: rgb(194, 96, 148);
  text-decoration: none;
  transition: 0.3s color;
}
.footerLight a:hover, .footerLight a:focus {
  color: #A23B72;
}/*# sourceMappingURL=styles.css.map */