html{
    font-size:125%;
}

.wrapper{
    max-width:1280px;
    width:80%;
    margin: 0 auto;
}

h1{
    font-family:$sansSerifFont;
    font-weight:normal;
}

h2{
    font-family:$serifFont;
    font-weight:normal;
}

#about, #portfolio, #contact{
    text-align: center;
}