.contactSection{

    .returnTop{
        text-align: center;
        a{
            text-decoration:none;
            color:$white;
            font-family:$sansSerifFont;
            transition:color 0.3s;

            &:hover{
                color:$purple;
            }
        }
    }
    .wrapper{
        margin:20px auto;
    }

    h2{
        &::after{
            content:'How can I contact you?';
            font-size:0.9rem;
            font-family:$handwritten;
            position: absolute;
            bottom:-20px;
            left:0px;
            color:$pink;

        }
    }
    .contactHeader{
        display:flex;
        align-items: center;
        justify-content: space-between;;
        flex-basis:70%;
        border-bottom:1px $grey solid;

    }

    .contactSocial{
        flex-basis:30%;
        ul{
            list-style:none;
            justify-content:space-evenly;
            display:flex;
            align-items:center;
            padding:0;
        }

        a{
            color:$white;
            font-size: clamp(1.2rem, 2vw, 1.5rem);
            transition:color 0.3s;

            &:hover, &:focus{
                color:$purple;
            }
        }
    }
    
    .contactForm{
        display:flex;
        font-family:$sansSerifFont;

        form{
            display:flex;
            flex-direction:column;
            flex-basis:60%;
        }
        fieldset{
            border:none;
            padding:0;
        }

        ul{
            padding:0;
            list-style:none;
            display:flex;
            flex-wrap:wrap;
            justify-content: space-between;
        }
        li{
            display:flex;
            flex-direction:column;
            width:calc((100% / 2) - 20px);
        }
        label{
            font-size:clamp(0.8rem, 2vw, 1rem);
            margin-top:10px;
            margin-bottom:20px;
        }
        input{
            background-color:transparent;
            border-radius:5px;
            border:1px rgba($white, $alpha:0.5) solid;
            padding:10px;
            color:$white;
            font-family:$sansSerifFont;

            &::placeholder{
                font-family:$sansSerifFont;
                font-size:clamp(0.8rem, 2vw, 0.9rem);
                color:rgba($white, $alpha:0.5);
            }
        }
        textarea{
            resize:none;
            background-color:transparent;
            padding:10px;
            border:1px rgba($white, $alpha:0.5) solid;
            border-radius:5px;
            color:$white;

            &::placeholder{
                color:rgba($white, $alpha:0.5);
                font-size:clamp(0.8rem, 2vw, 0.9rem);
            }
        }

        .submitButton{
            width:calc((100%/2) - 20px);
            margin:40px 0;
            background-color:$purple;
            color:$white;
            border:none;
            padding:30px 20px;
            border-radius:5px;
            font-family:$sansSerifFont;
            font-size:clamp(0.8rem, 2vw, 0.9rem);
            cursor:pointer;
            transition:background-color 0.3s, color 0.3s;

            &:hover, &:focus{
                background-color:rgba($purple, $alpha:0.7);
            }
        }

        .contactInfo{
            padding:0 20px;
            flex-basis:40%;

            p{
                font-size:clamp(0.8rem, 2vw, 0.9rem);
            }
        }

        h3{
            font-family:$serifFont;
            font-weight:normal;
        }
    }

}