footer{
    position: fixed;
    bottom:0;
    height:10vh;
    width:15%;
    border-right:1px $purple solid;
    background-color:white;

}

.footerDark{
    background-color:black;
    color:white;
}

.footerLight{
    background-color:white;
    color:black;
}