footer{
    position: fixed;
    bottom:0;
    height:15vh;
    width:15%;
    border-right:1px $purple solid;
    background-color:red;
    text-align: center;
    font-family:$serifFont;


    a{
        color:$pink;
        text-decoration:none;
        transition:0.3s color;
        
        &:hover, &:focus{
            color:$purple;
        }
    }
}

footer h3{
    color:$grey;
    font-weight:normal;
    font-size:clamp(0.6rem, 2vw, 0.8rem);
}



.footerDark{
    background-color:$black;
    color:$white;
    border-right:1px $pink solid;

    
    h3{
        color:$white;
    }


}

.footerLight{
    // background-color:$white;
    color:$black;

    a{
        color:rgb(194, 96, 148);
        text-decoration:none;
        transition:0.3s color;
        
        &:hover, &:focus{
            color:$purple;
        }
    }
}