header{
    position: fixed;
    height:90vh;
    width:clamp(200px, 15%, 400px);

    ul{
        list-style:none;
        border:2px orange solid;
    }

    a{
        text-decoration:none;
    }
}

.headerDark{
    background-color:black;

    a{
        color:white;

        &:hover{
            color:red;
        }
    }
}

.headerLight{
    background-color:red;

    a{
        color:black;
        &:hover{
            color:grey;
        }
    }
}