.landingSection{

    .wrapper{
        display:flex;
        margin:auto auto 0!important;
        height:100%;
    }

    h1{
        margin:auto 0 auto;
        color:$purple;
    }

    .strongName{
        display:flex;
        font-family:$serifFont;
        color:$black;
        font-size:clamp(2.2rem, 4vw, 2.7rem);
    }

    .greyText{
        color:$grey;
    }

    .landingText{
        border:2px red solid;
        margin:auto;
    }
}

.socialLinks{
    position: absolute;
    right:0;
    top:30%;
    ul{
        list-style:none;
        padding:0;

    }
    li{
        margin:20px;
    }
    a{
        display:flex;
        justify-content: center;
        align-items: center;
        width:50px;
        height:50px;
        border-radius:50%;
        background-color:rgba($purple, 0.4);
        color:$white;
        transition:0.3s background-color;

        &:hover, &:focus{
            background-color:rgba($purple,1);
        }
    }
}