main{
    width:85%;
    margin-left:auto;
}

section{
    padding:10px 0;
}

// ABOUT SECTION
section{

    h2{
        position: relative;

        &::before{
            content:'';
            position: absolute;
            width:120px;
            height:30px;
            background-color:rgba($purple, 0.5);
            bottom:0;
            z-index:-1;
            
        }
    }

    &:last-child{
        background-color:$black !important;
        color:$white;
    }
}

.darkTheme{
    background-color:$black;
    color:$white;

    h1{
        color:$white;
    }

    .strongName{
        color:$pink;
    }

    .greyText{
        color:$pink;
    }

    
}

.darkTheme{

    &:nth-child(even){
        background-color:rgba($black, $alpha: 0.98);
    }

    .toolKitSection{
        p{
            color:$white;
            text-align: center;
        }
        .devicon{
            color:$white;
            text-align: center;
        }
        li{
            background-color:transparent;
        }
    }

}

// LANDING PAGE

.landingSection{
    height:100vh;
}

.aboutSection{
    .wrapper{
        width:100%;
        max-width:none;
        display:flex;
        flex-direction:column;
    }

}

.aboutMeSection{
    flex-basis:50%;
    width:80%;
    margin:auto;

    p{
        position: relative;

        &:nth-child(3){
            &:after{
                content:'(I notice it!)';
                font-size:0.6rem;
                position: absolute;
                top:-10px;
                font-style:italic;
                color:$white;
            }
        }
    }

}

.toolKitSection{
    flex-basis:50%;
    width:100%;
    background-color:$offWhite;
    margin:0 auto;

    h2{
        text-align: center;
    }
    ul{
        display:grid;
        grid-template-rows:repeat(2, 1fr);
        grid-template-columns: repeat(5, 1fr);
        list-style:none;
        padding:0;
        justify-content: center;
        align-content: center;
    }
    li{
        display:flex;
        flex-direction:column;
        align-content: center;
        width:150px;
        margin: 20px auto;
    }
    p{
        font-family:$sansSerifFont;
        color:$black;
        text-align: center;
    }
    .devicon{
        color:rgba($black, $alpha: 0.7);
        font-size:clamp(2rem, 10vw, 4rem);
        margin:0 auto;
    }

}


// portfolio section

.portfolioSection{

    .projectList{
        display:grid;
        grid-template-columns:repeat(3, 1fr);
        grid-template-rows:repeat(3, 1fr);
        gap:3rem;
        list-style:none;
        padding:0;
    }

    .projectLi{
        margin-bottom:30px;
        border-radius:20px;
        transition:transform 0.3s;

        &:hover, &:focus{
            transform:scale(1.2);

            .projectInfo{
                animation:projectHover 1s forwards;
            }
            .projectInfo h3{
                animation:projectHoverText 1s forwards;
            }
            .projectInfo > p{
                animation:projectHoverText 1s forwards 0.2s;
            }

            .projectLinks{
                animation:projectHoverText 1s forwards 0.4s;
            }
            .projectTools{
                animation:projectHoverText 1s forwards 0.6s;

            }
            

        }
    }

}

.portfolioSection.darkTheme{
    background-color:rgba($black, $alpha: 0.98);
}

// PROJECT CONTAINER LI
.projectContainer{
    display:flex;
    flex-direction:column;
    position: relative;
    border-radius:20px;
    height:100%;
    overflow:hidden;


    img{
        width:100%;
        transition: transform 1s;
    }

    .projectImage{
        align-items: center;
        border-radius:20px;
        height:100%;
        overflow:hidden;

    }

    .projectInfo{
        display:flex;
    flex-direction: column; 
        justify-content: space-evenly;
        position: absolute;
        transform:translateY(500px);
        background-color:rgba($black, $alpha: 0.8);
        width:100%;
        height:100%;
        border-radius:20px;
        color:$white;
        padding:20px;


        h3{
            font-size:clamp(0.5rem, 2vw, 1rem);
            font-family:$serifFont;
            font-weight:normal;
            text-align: center;
            margin:10px 0;
        }

        p{
            font-size:clamp(0.4rem, 2vw, 0.7rem);
            font-family:$sansSerifFont;
            text-align: center;
            margin:0;
            line-height:1rem;
        }

        ul{
            list-style:none;
            padding:0;
            display:flex;
            flex-wrap:wrap;
            margin:0 auto;
            justify-content: space-between;
        }
        li{
            margin:0 auto;

            p{
                color:$white;
            }
        }


    }

    .projectLinks{
        display:flex;
        justify-content:space-around;
        padding:15px 0;
        width:100%;
        margin:0 auto;
        

        a{
            font-size:clamp(0.4rem, 2vw, 0.7rem);
            color:$white;
            padding:5px 10px;
            text-decoration:none;
            transition:background-color 0.3s, border 0.3s;
            border:2px solid $white;

            &:hover, &:focus{
                background-color:$purple;
                border:2px solid $purple;
            }
        }
    }

    


}

// PROJECT CONTAINER DARK THEME
.projectContainer.darkTheme{
    .projectText{
        background-color:rgba($white, 0.15);

        h3, p{
            color:$white;
        }
    }
}

.projectLi{
    &:nth-child(6n + 1){
        background-color:lightcoral;
    }
    &:nth-child(6n + 2){
        background-color:lightblue;
    }

    &:nth-child(6n + 3){
        background-color:mediumaquamarine;
    }
    &:nth-child(6n + 4){
        background-color:plum;  
    }
    &:nth-child(6n + 5){
        background-color:palegoldenrod;
    }
    &:nth-child(6n + 6){
        background-color:lightsalmon;
    }
}