@media (max-width:1300px){

    // resizing grid on portfolio
    .portfolioSection{

        .projectList{
            grid-template-columns:repeat(2,1fr);
        }
    }
}

@media (max-width:810px){
    // making a header
    header{
        height:5vh;
        width:100%;
        position: fixed;
        z-index:99999;

        .wrapper{
            flex-direction:column;
            max-width:none;
            width:100%;
        }
        .logo{
            padding:0%;
            width:0;
        }
        nav{
            position: fixed;
            width:100%;
            left:0;
            top:5vh;
            height:40vh;
            background-color:$white;
            z-index:99999999;
            border:2px red solid;
        }

        .hamburger{
            display:flex;
            justify-content:center;
            position: absolute;
            top:12px;
            right:25px;
            width:50px;
            height:30px;
            cursor:pointer;

            .lineOne,.lineTwo,.lineThree{
                content:'';
                position: absolute;
                width:40px;
                height:3px;
                background-color:$black;
                border-radius:20px;
                transition:background-color 0.3s;
            }
            .lineTwo{
                top:12px;
            }
            .lineThree{
                top:24px;
            }

            &:hover, &:focus{
                .lineOne, .lineTwo, .lineThree{
                    background-color:$purple;
                }
            }
        }
        .themeContainer{
            display:none;
        }
        
    }
}