@media (max-width:1300px){

    // resizing grid on portfolio
    .portfolioSection{

        .projectList{
            grid-template-columns:repeat(2,1fr);
        }
    }
}

@media (max-width:810px){
    // making a header
    header{
        height:8vh;
        width:100%;
        position: fixed;
        z-index:99999;
        border-right:none;
        

        .wrapper{
            flex-direction:column;
            max-width:none;
            width:100%;
        }

        .hamburger{
            display:flex;
        }

        nav{
            position: fixed;
            width:100%;
            left:0;
            top:8vh;
            height:max-content;
            transform:scale(1,0);
            transform-origin:top;
            background-color:$white;
            z-index:99999999;
            opacity:0;
            transition:opacity 0.3s, transform 0.3s ease-in-out;

            ul{
                width:90%;
                margin: 0 auto;
                padding:20px 0;
            }

            a{
                &:hover, &:focus{
                    padding-left:0;

                    &::before{
                        content:none;
                    }
                }
            }

        }

        nav.active{
            transform:scale(1, 1);
            opacity:1;
            transition:opacity 0.3s, transform 0.3s ease-in-out 250ms;
            box-shadow: rgba(0, 0, 0, 0.04) 0px 3px 5px;
        }

        
        .themeContainer{
            width:max-content;
            position:absolute;
            margin-left:20px;
            .themeButton{
                content:none;
            }
            // display:none;
        }

        .themeContainer.darkTheme{
            .themeButton{
                transform:none;
                overflow:hidden;
            }
        }
        
    }

    main{
        width:100%;
    }

    footer{
        position: static;
        width:100%;

    }

    .footerLight{
        background-color:$black !important;
        padding:1px;
        border-top:1px $grey solid;

        h3{
            color:$white;
        }
    }
    .footerDark{
        border-top:1px $grey solid;
        padding:1px;
    }

}

@media (max-width:780px){
    .toolKitSection ul {
        grid-template-rows:repeat(3, 1fr);
        grid-template-columns:repeat(3, 1fr);
    }

    .contactSection .contactForm{
        flex-direction:column-reverse;
        .contactInfo{
            padding:0;
        }
        .submitButton{
            margin:40px auto;
        }
    }
}

@media (max-width:700px){
    .contactSection .contactForm li{
        width:100%;
    }
}

@media (max-width:500px){

    .contactSection{
        .contactHeader{
            flex-direction:column;
            align-items:flex-start;
        }
        .contactSocial{
            width:100%;

            ul{
                justify-content:space-between;
            }
        }
    } 

    .portfolioSection{
        .projectList{
            display:flex;
            flex-direction:column;
            width:100%;
        }
        .projectLi{
            &:hover, &:focus{
                transform:scale(1);
            }
        }

    }

    .projectContainer{
        width:100%;

        .projectInfo p, .projectInfo h3, .projectLinks a {
            font-size:100%;
        }
    }


}