// COLOURS
$offWhite:#FAFAFA;
$black:#202020;
$grey:#51586D;
$white:#FFF;
$purple:#A23B72;
$pink: #FCB0D8;

// FONTS
$serifFont: "Playfair Display", serif;
$sansSerifFont: "Inter", sans-serif;
$handwritten: "Caveat Brush", cursive;